@import '~antd/es/style/variable.less';

.card {
  padding: 20px;
  background-color: rgba(256, 256, 256, 0.5);
  border-radius: 20px;
}

.page-container {
  max-width: 640px;
  margin: auto;
  //display: flex;
  //justify-content: space-between;
  //flex-wrap: wrap;

  .switch {
    //margin-right: 10px;
    //height: 100%;
    padding: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 6px 6px 15px -1px rgba(110,110,110,0.5);
    -moz-box-shadow: 6px 6px 15px -1px rgba(110,110,110,0.5);
    box-shadow: 6px 6px 15px -1px rgba(110,110,110,0.5);
    background-image: url('../../../public/background.png');
    background-size: cover;
    background-repeat: no-repeat;

    .switch-row{
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #d3d3d3;
    }

    .switch-row:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }

  }
}

@media (max-width: @screen-md) {
  .page-container {
    //.switch {
    //  margin: 0 0 20px 0;
    //}

    .video {
      width: 100%;
      margin-left: 0;
    }
  }
}



